<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <% resource.errors.messages.each do |field, messages| %>
      <% messages.each do |message| %>
        <p class="error-message" data-error-for="<%= field %>">
          <%= resource.class.human_attribute_name(field) %> <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>